In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('datasets/Data_Set_2023.xlsx')
df.head()

,OBJECTID,event_id_cnty,event_date,year,time_precision,event_type,actor1,ally_actor_1,inter1,actor2,...,event_category,last_updated,ACLED_UpdateStatus,fatalities,inter1_code,inter2_code,interaction_code,civilian_targeting,disorder_type,tags
0,1757812,BLZ975,2023-07-23,2023,actual date,Violence against civilians,Unidentified Gang (Belize),NaN,Political militia,Civilians (Belize),...,Violent events,2023-08-01,original,0,3,7,37,NaN,NaN,NaN
1,1859269,BLZ996,2023-11-22,2023,actual date,Protests,Protesters (Belize),Government of Belize (2020-); Former Governmen...,Protesters,NaN,...,Demonstrations,2023-12-19,updated,0,6,0,60,NaN,Demonstrations,crowd size=a few hundreds
2,1610505,BLZ414,2023-01-04,2023,actual date,Violence against civilians,Unidentified Gang (Belize),NaN,Political militia,Civilians (Belize),...,Violent events,2023-01-17,original,1,3,7,37,NaN,NaN,NaN
3,1667625,BLZ423,2023-03-19,2023,actual date,Violence against civilians,Unidentified Armed Group (Belize),NaN,Political militia,Civilians (Belize),...,Violent events,2023-04-05,original,1,3,7,37,Civilian targeting,Political violence,NaN
4,1699647,BLZ945,2023-04-28,2023,actual date,Battles,Unidentified Armed Group (Belize),NaN,Political militia,Police Forces of Belize (2020-),...,Violent events,2023-05-03,original,0,3,1,13,NaN,NaN,NaN

In [5]:
df.columns

Index(['OBJECTID', 'event_id_cnty', 'event_date', 'year', 'time_precision',
       'event_type', 'actor1', 'ally_actor_1', 'inter1', 'actor2',
       'ally_actor_2', 'inter2', 'interaction', 'country', 'admin1', 'admin2',
       'admin3', 'location', 'geo_precision', 'source', 'notes',
       'FMETimeStamp', 'Country_ISO2', 'Admin01Code', 'Admin01Name',
       'longitude', 'latitude', 'region', 'source_scale', 'sub_event_type',
       'timestamp', 'civilian_actor2', 'civilians_interaction',
       'civilian_casualties_1', 'civilian_casualties_2',
       'civilian_casualties_3', 'prot_class_1', 'prot_class_2', 'prot_class_3',
       'prot_class_4', 'prot_class_5', 'prot_class_6', 'prot_class_7',
       'prot_class_8', 'prot_class_9', 'civilian_actor1', 'event_category',
       'last_updated', 'ACLED_UpdateStatus', 'fatalities', 'inter1_code',
       'inter2_code', 'interaction_code', 'civilian_targeting',
       'disorder_type', 'tags'],
      dtype='object')

In [6]:
df.shape

(7501, 56)

In [7]:
df.describe()

,OBJECTID,event_date,year,FMETimeStamp,longitude,latitude,timestamp,civilian_actor2,civilians_interaction,civilian_casualties_1,...,prot_class_6,prot_class_7,prot_class_8,prot_class_9,civilian_actor1,last_updated,fatalities,inter1_code,inter2_code,interaction_code
count,7.501000e+03,7501,7501.0,7501,7501.000000,7501.000000,7.501000e+03,7501.000000,7501.000000,7501.000000,...,0.0,0.0,0.0,0.0,7501.000000,7501,7501.000000,7501.000000,7501.000000,7501.000000
mean,1.761190e+06,2023-07-08 13:29:21.845087488,2023.0,2023-08-28 10:48:52.409012224,-93.547305,17.042574,1.692770e+09,0.328490,0.034795,0.323690,...,NaN,NaN,NaN,NaN,0.607252,2023-08-28 10:48:52.409012224,0.383016,4.660979,2.518731,47.525530
min,1.608756e+06,2023-01-01 00:00:00,2023.0,2023-01-17 00:00:00,-107.784400,7.406800,1.673896e+09,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,2023-01-17 00:00:00,0.000000,1.000000,0.000000,10.000000
25%,1.694694e+06,2023-04-17 00:00:00,2023.0,2023-05-23 00:00:00,-98.673300,14.630600,1.684790e+09,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,2023-05-23 00:00:00,0.000000,3.000000,0.000000,37.000000
50%,1.756044e+06,2023-07-06 00:00:00,2023.0,2023-09-13 00:00:00,-92.919400,17.835200,1.693853e+09,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,1.000000,2023-09-13 00:00:00,0.000000,6.000000,0.000000,60.000000
75%,1.827385e+06,2023-10-06 00:00:00,2023.0,2023-11-21 00:00:00,-89.253900,19.431300,1.700524e+09,1.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,1.000000,2023-11-21 00:00:00,1.000000,6.000000,7.000000,60.000000
max,1.972342e+06,2023-12-31 00:00:00,2023.0,2024-03-19 00:00:00,-80.086100,25.806100,1.710803e+09,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,1.000000,2024-03-19 00:00:00,46.000000,8.000000,8.000000,78.000000
std,8.692533e+04,NaN,0.0,NaN,5.550961,3.297782,1.055596e+07,0.469695,0.183273,0.467915,...,NaN,NaN,NaN,NaN,0.488394,NaN,0.992545,1.612157,3.201804,15.822694

# Aquí se va agregar un modelo 1